<footer>
    <address>
        <div id="social_menu">
            <div class="navigation_button">
                <a href="https://github.com/ArvinoBoro">GitHub</a>
            </div>
            <div class="navigation_button">
                <a href="https://www.linkedin.com/in/arvin-ziba-51493424b/">LinkedIn</a>
            </div>
            <div class="navigation_button">
                <a href="mailto:arvin.ziba@ontariotechu.net">Email Me</a>
            </div>
        </div>
    </address>
    <p>&copy; Arvin Ziba 2024 </p>
</footer>
</div>
</body>
</html>

