<header>
    <div id="banner">
        <h1>ARVIN ZIBA</h1>
        <h3><%= heading %></h3>
    </div>
    <div id="navigation_menu">
        <nav>
            <div class="navigation_button">
                <a href="/">Home</a>
            </div>
            <div class="navigation_button">
                <a href="projects">Projects</a>
            </div>
            <div class="navigation_button">
                <a href="contact">Contact</a>
            </div>
            <div class="navigation_button">
                <a href="about">About</a>
            </div>
        </nav>
    </div>
</header>