<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                <% if(title=="Home") { %> 
                    <a class="nav-link active">
                <% } else { %>
                    <a class="nav-link" href="/">
                <% } %>
                    <i class="fa-solid fa-house"></i> Home </a> 
                </li>
                <li class="nav-item">
                <% if(title=="Projects") { %> 
                    <a class="nav-link active">
                <% } else { %>
                    <a class="nav-link" href="/projects">
                <% } %>
                    <i class="fa-solid fa-wrench"></i> Projects </a> 
                </li>
                <li class="nav-item">
                <% if(title=="Contact") { %> 
                    <a class="nav-link active">
                <% } else { %>
                    <a class="nav-link" href="/contact">
                <% } %>
                    <i class="fa-solid fa-comment"></i> Contact </a> 
                </li>
                <li class="nav-item">
                <% if(title=="About") { %> 
                    <a class="nav-link active">
                <% } else { %>
                    <a class="nav-link" href="/about">
                <% } %>
                    <i class="fa-solid fa-user"></i> About <span class="badge bg-secondary">New</span> </a> 
                </li>
            </ul>
        </div>
    </div>
</nav> <!-- (5) Bootstrap 5 navbar template -->