<div id="navigation_menu">
    <nav>
        <div class="navigation_button">
            <a href="/">Home</a>
        </div>
        <div class="navigation_button">
            <a href="projects">Projects</a>
        </div>
        <div class="navigation_button">
            <a href="contact">Contact</a>
        </div>
        <div class="navigation_button">
            <a href="about">About</a>
        </div>
    </nav>
</div>

