<%- include('partials/header') %>
<%- include('partials/navbar') %>
<article id="about_me_content">

    <div class="container">
        <div class="row">
            <div class="col-7 px-5 pt-5">
                <p>
                    Hey there!
                    My name is Arvin Ziba. 
                    I'm a third-year student at Ontario Tech University of Oshawa, majoring in networking and IT security. 
                    Through my studies, I developed a solid grasp IT networking with approximately 85 hours of practical experience. 
                    I'm also well-familiar with computer systems, programming and web development.   
                    Below is a list of some of my completed courses at Ontario Tech. 
                    For more insight into my technical experience consider viewing my <a href="/projects">Projects</a> page.
                    <br><br>
                    What absorbs my attention most is troubleshooting and resolving IT issues, be it individual devices or entire networks.
                    If such a problem ocurrs, I will get to the bottom of it. 
                    Nothing brings a wider smile to my face than a happy customer who's desktop, printer or router is working once again.
                    I'm like Dr. Greg House when he investigates a medical anomaly, minus the snarky attitude.   
                </p>
            </div>
            <div class="col-5 px-5 pt-5">
                <img src="/images/selfie.jpg" class="img-fluid">
            </div>
        </div>

    </div>
         
    <div class="container">
        <div class="row">
            <div class="col-6 px-5 pt-5">
                <h3>Completed University Courses</h3>
            <ul>
                <li>Advanced Networking I</li>
                <li>Advanced Networking II</li>
                <li>Algorithms and Data Structures</li>
                <li>Object Oriented Programming for IT</li>
                <li>Management of the Enterprise</li>
                <li>Operating Systems</li>
                <li>Intro to Computer Security</li>
                <li>Technical Communications</li>
                <li>Web and Script Programming</li>
            </ul>
            </div>
        </div>
    </div>

</article>
<%- include('partials/footer') %>
