@charset "UTF-8";
@media only screen and (min-width:960px)
{
    body {
        font-size: 100%;
    }

    #wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    /* Header Start */ 
    header h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white; 
        padding-left: 5.5%;
        padding-top: 55px;
    }

    header h3 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white; 
        padding-left: 5.5%;
    }

    #banner {
        width: 100%; 
        height: 140px;
        background-image: url(../images/banner-image.jpg);  /* External source: https://www.w3schools.com/cssref/pr_background-image.php */
        background-size: contain;   /* External source: https://www.w3schools.com/cssref/css3_pr_background-size.php */ 
    }

    #navigation_menu {
        background: -moz-linear-gradient(left, #73168C 50%, #C04BF2 100%);
        background: -webkit-linear-gradient(top, #73168C 50%, #C04BF2 100%);
        background: -o-linear-gradient(top, #73168C 50%, #C04BF2 100%);
        background: linear-gradient(to right, #73168C 50%,#C04BF2  100%);
        display: flex;
        padding-left: 5%; 
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .navigation_button {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #73168C;
        font-family: "Lucida Console", monospace;
    }

    .navigation_button a {
        color: white; 
        font-size: large;
        text-decoration: none;
    }

    .navigation_button:hover {
        background-color: #C04BF2;
    }
    /* Header End */ 

    /* Home Start */
    #comic_strip_container img {
        width: 63.15%;
        height: auto;
        border: 14px solid #281259;  
        margin-left: auto;
        margin-right: auto; 
        display: block; 
        margin-top: 1%; 
        margin-bottom: 1%;
    }
    
    #fine_quote {
        background-color: #070926;
        color: white;  
        width: 55%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #fine_quote h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #fine_quote p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
    }


    #introduction {
        background-color: #F2F2F2; 
        width: 55%; 
        padding-left: 5%;
        padding-right: 5%; 
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #introduction p {
        font-size: large; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #introduction h3 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
    /* Home End */

    /* Project 1 Start*/
    #p1_heading h3 {
        font-family:'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }

    #p1_desc_image {
        margin-top: 1%;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto; 
        display: flex;
    }

    #p1_desc {
        background-color: #F2F2F2;
        float: left;
        width: 50%; 
        height: auto;
        background-color: #F2F2F2;

    }

    #p1_desc p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%; 
    }

    #networking_lab_image {
        float: left; 
        width: 50%; 
        height: auto;
        background-image: url(../images/networking-lab.png); /* External source: https://www.w3schools.com/cssref/pr_background-image.php */
        background-size: cover; /* External source: https://www.w3schools.com/cssref/css3_pr_background-size.php */ 
    }

    #p1_hardware_applications {
        padding-top: 1%;
        clear: left; 
        width: 60%;
        margin-left: auto;
        margin-right: auto; 
        display: flex;
    }

    #p1_hardware {
        background-color: #F2F2F2;
        float: left;
        width: 50%;
        height: auto; 
    }

    #p1_hardware h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_hardware ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    #p1_applications {
        background-color: #F2F2F2;
        float: left;
        width: 50%;
        height: auto; 
    }

    #p1_applications h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_applications p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_applications ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 5%;
    }
    /* Project 1 End */

    /* Project 2 Start */
    #p2_desc {
        background-color: #F2F2F2;
        width: 60%; 
        height: auto;
        margin-left: auto;
        margin-right: auto; 
    }

    #p2_desc p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* Project 2 End */ 

    /* Project 3 Start */
    #p3_desc {
        background-color: #F2F2F2;
        width: 60%; 
        height: auto;
        margin-left: auto;
        margin-right: auto; 
    }

    #p3_desc p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* Project 3 End */ 

    /* Multiple or All Projects Start*/
    .image_container {
        background-color: #F2F2F2;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .image_container img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .project_heading {
        padding-top: 4%;
        font-family: 'Courier New', Courier, monospace;
        background-color: #281259;
        color: white; 
        width: 100%;
        height: auto;
        text-align: center; 
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        
    }
    /* Multiple or All Projects End */

    /* Contact Start */ 
    #contact_instructions {
        background-color: #F2F2F2;
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }

    #contact_instructions p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    form {
        background-color: #F2F2F2;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .form_prompt {
        clear: left;
        padding-top: 2.5%;
        padding-left: 5%;
    }

    .form_button {
        background-color: #73168C;
        color: white;
        border-radius: 10px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 5%;
    }

    .form_button:hover {
        background-color: #C04BF2;
    }
    /* Contact End */
    
    /* About Start */
    #about_me_content {
        margin-top: 1%;
        background-color: #F2F2F2;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #about_me_writing {
        background-color: #F2F2F2;
        float: left;
        width: 50%;
        height: auto;
    }

    #about_me_writing p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 10%;
        margin-top: 5%;
    }

    #profile_picture {
        float: left;
        width: 25%;
        height: auto;
    }

    #profile_picture img {
        margin-top: 5%;
        margin-left: 10%;
    }

    #university_courses {
        background-color: #F2F2F2;
        clear: left;
        float: left;
        width: 50%;
        height: auto;
    }

    #university_courses h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #university_courses ul {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #university_courses h3, ul {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    #about_me_video {
        clear: left; 
        margin-left: 5%;
    }
    /* About End */ 

    /* Footer Start */
    footer {
        background: -moz-linear-gradient(left, #070926 50%, #281259 100%);
        background: -webkit-linear-gradient(top, #070926 50%, #281259 100%);
        background: -o-linear-gradient(top, #070926 50%, #281259 100%);
        background: linear-gradient(to right, #070926 50%,#281259  100%);
        clear: left;
        color: white; 
        width: 100%; 
        text-align: center; 
        padding-top: 30px;
        padding-bottom: 30px;
    }

    address a {
        color: white;
    }
    /* Footer End */ 

} 