@charset "UTF-8";
@media only screen and (min-width:960px)
{
    body {
        font-size: 100%;
    }

    /* Header Start */ 
    header h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white; 
        padding-top: 55px;
        padding-left: 5.5%;
    }

    header h3 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white; 
        padding-left: 5.5%;
    }

    #banner {
        background-image: url(../images/banner-image.jpg);  /* External source: https://www.w3schools.com/cssref/pr_background-image.php */
        background-size: contain;   /* External source: https://www.w3schools.com/cssref/css3_pr_background-size.php */ 
        width: 100%; 
        height: 140px;
    }

    #navigation_menu {
        background: -moz-linear-gradient(left, #73168C 50%, #C04BF2 100%);
        background: -webkit-linear-gradient(top, #73168C 50%, #C04BF2 100%);
        background: -o-linear-gradient(top, #73168C 50%, #C04BF2 100%);
        background: linear-gradient(to right, #73168C 50%,#C04BF2  100%);
        padding-left: 5%; 
        padding-top: 1%;
        padding-bottom: 1%;
        display: flex; /* The container is flexible. It can change shape based on the divs it contains. */
    }

    #navigation_menu .navigation_button {
        background-color: #73168C;
        font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navigation_button a {
        color: white; 
        text-decoration: none;
    }

    #navigation_menu .navigation_button:hover {
        background-color: #C04BF2;
    }
    /* Header End */ 

    /* Home Start */
    #comic_strip_container img {
        border: 14px solid #281259;  
        width: 63.15%;
        margin-top: 1%; 
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto; 
        display: block;  /* The element starts a new line and takes up the full width. */
    }
    
    #fine_quote {
        background: -moz-linear-gradient(45deg, #070926 0%, #281259 100%);
        background: -webkit-linear-gradient(45deg, #070926 0%, #281259 100%);
        background: -o-linear-gradient(45deg, #070926 0%, #281259 100%);
        background: linear-gradient(45deg, #070926 0%, #281259 100%);
        color: white;  
        width: 55%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #fine_quote h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #fine_quote p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem; /* 1.5 times the font size of the root elements default font size. */
    }


    #introduction {
        background-color: #F2F2F2; 
        width: 55%; 
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 5%;
        padding-right: 5%; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #introduction p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #introduction h3 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }
    /* Home End */

    /* Projects Start*/
    #p1_hardware_applications {
        padding-top: 1%;
        clear: left; 
        width: 60%;
        margin-left: auto;
        margin-right: auto; 
        display: flex; 
    }

    #p1_hardware {
        background-color: #F2F2F2;
        width: 50%;
    }

    #p1_hardware h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_hardware ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    #p1_applications {
        background-color: #F2F2F2;
        width: 50%;
    }

    #p1_applications h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_applications p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10%;
        padding-right: 10%;
    }

    #p1_applications ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .project_heading {
        font-family: 'Courier New', Courier, monospace;
        background-color: #281259;
        color: white; 
        width: 100%;
        text-align: center; 
        padding-top: 4%;
        margin-top: 1%;
        padding-bottom: 4%;
    }
 
    .project_desc {
        background-color: #F2F2F2;
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }

    .project_desc p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .image_container {
        background-color: #F2F2F2;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .image_container img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Projects End */

    /* Contact Start */ 
    #contact_instructions {
        background-color: #F2F2F2;
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }

    #contact_instructions p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    form {
        background-color: #F2F2F2;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .form_prompt {
        clear: left;
        padding-top: 2.5%;
        padding-left: 5%;
    }

    .form_prompt input {
        width: 50%;
    }

    .form_prompt textarea {
        width: 70%;
    }

    .form_button {
        background-color: #73168C;
        color: white;
        border-radius: 10px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 5%;
    }

    .form_button:hover {
        background-color: #C04BF2;
    }
    /* Contact End */
    
    /* About Start */
    #about_me_content {
        background-color: #F2F2F2;
        width: 60%;
        padding-bottom: 2%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    #about_me_writing {
        background-color: #F2F2F2;
        float: left;
        width: 50%;
    }

    #about_me_writing p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 5%;
        margin-left: 10%;
    }

    #profile_picture {
        float: left;
        width: 25%;
    }

    #profile_picture img {
        margin-top: 5%;
        margin-left: 10%;
    }

    #university_courses {
        background-color: #F2F2F2;
        width: 50%;
    }

    #university_courses h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #university_courses ul {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #university_courses h3, ul {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
    }

    #about_me_video {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    #about_me_video video {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    /* About End */ 

    /* Footer Start */
    footer {
        background: -moz-linear-gradient(left, #070926 50%, #281259 100%);
        background: -webkit-linear-gradient(top, #070926 50%, #281259 100%);
        background: -o-linear-gradient(top, #070926 50%, #281259 100%);
        background: linear-gradient(to right, #070926 50%,#281259  100%);
        color: white; 
        clear: left;
        width: 100%; 
        text-align: center; 
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* Footer End */ 

} 