@charset "UTF-8";
@media only screen and (min-width:481px) and (max-width:960px)
{
    /* Header Start */
    #banner {
        color: white;
        width: 100%;
        height: 140px;
        background-image: url(../images/banner-image.jpg);  /* External source: https://www.w3schools.com/cssref/pr_background-image.php */
        background-size: contain;   /* External source: https://www.w3schools.com/cssref/css3_pr_background-size.php */ 
        text-align: center;
    }
    
    #banner h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 5%;
    }

    #banner h3 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #navigation_menu {
        background: -moz-linear-gradient(left, #73168C 0%, #C04BF2 100%);
        background: -webkit-linear-gradient(top, #73168C 0%, #C04BF2 100%);
        background: -o-linear-gradient(top, #73168C 0%, #C04BF2 100%);
        background: linear-gradient(to right, #73168C 0%,#C04BF2  100%);
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .navigation_button {
        background-color: rgb(76, 8, 140);
        float: left;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        margin-top: 35px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: "Lucida Console", monospace;
    }

    .navigation_button a {
        color: white;
        text-decoration: none;
    }
    /* Header End */ 

    /* Home Start */
    #comic_strip_container img {
        width: 80%;
        height: auto;
        border: 5px solid #281259;  
        margin-left: auto;
        margin-right: auto; 
        margin-top: 1%; 
        display: block; 
    }

    #fine_quote {
        background-color: #070926;
        color: white;
        width: 80%;
        height: auto;
        border: 5px solid #070926; 
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #fine_quote h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #fine_quote p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    #introduction {
        background-color: #F2F2F2;
        width: 80%; 
        height: auto;
        border: 5px solid #F2F2F2;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    #introduction h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 2%;
    }

    #introduction p {
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-left: 2%;
        margin-right: 2%;
    }
    /* Home End */

    /* Footer Start */
    footer {

    }

    /* Footer End */ 
} 